altgraph
certifi
charset-normalizer
colorama
decorator
future
idna
imageio
imageio-ffmpeg
moviepy
numpy
opencv-python
openrgb-python
pefile
Pillow
proglog
pyinstaller
pyinstaller-hooks-contrib
pywal
pywin32-ctypes
requests
tqdm
urllib3